h1.title Travel where ever you like...
.imgdiv(style='background-image:url({{flag}})')
.image(style='background-image:url{{visaMap}})')
.row
  .col-xs-4
    p.passport Passport from:
    form#dropdown(role='form', novalidate,type='button', name='countryForm')
      label
        select(ng-model='countryFrom' ng-change='selectCollection(countryFrom)')
          option(value='usavisarequire') USA
          option(value='Australiavisarequire') Australia
          option(value='Brazilvisarequire') Brazil
          option(value='Canadavisarequire') Canada
          option(value='Chinavisarequire') China
          option(value='dominicanvisarequire') Dominican Rep.
          option(value='Francevisarequire') France
          option(value='Germanyvisarequire') Germany
          option(value='Indiavisarequire') India
          option(value='Japanvisarequire') Japan
          option(value='Jordanvisarequire') Jordan
          option(value='Kenyavisarequire') Kenya
          option(value='lebanovisarequire') Lebano
          option(value='Mexicovisarequire') Mexico
          option(value='Russiavisarequire') Russia
          option(value='SKvisarequire') South Korea
          option(value='Thailandvisarequire') Thailand
          option(value='UKvisarequire') UK
  .col-xs-4

    p.autocomplete Traveling To:
    
    .completebar <angucomplete id='countryFinder' placeholder='Search a Country' pause='100' selectedObject='country' localdata='allCountry' searchfields='Country' titlefield='Country' minlength='1' />
  .col-xs-4

.panel.panel-default(ng-show='country')
  h1           {{country.originalObject.Country}}
  h4.req Requirement: {{country.originalObject.Visarequirement}}
  h3 Allowed to Stay:  {{country.originalObject.AllowedStay}}
  h4 Notes:            {{country.originalObject.Notes}}
.addthis_sharing_toolbox

  script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50b326253d80a9bd', async='')
